h1 {
  color: black;
  text-align: center;
}

img {
  width: 100%;
  margin: 20px auto;
  border-radius: 20px;
  display: block;
}

.contact-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.contact-btn:hover {
  background-color: darkblue;
}
