h1 {
  color: red;
  text-align: center;
}

img {
  width: 100%;
  margin: 20px auto;
  border-radius: 20px;
  display: block;
}

.contact-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.contact-btn:hover {
  background-color: darkblue;
}
